@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
.navbar-brand{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
}
.jumbotron{
    background-image: url(../walpaper\ pemograman.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: -0px 0px;
    background-attachment: fixed;
}
.jumbotron img{
    border: 2px solid blue;
    border-radius: 50%;
    margin-top: 80px;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.lead{
    font-family: 'Delicious Handrawn', cursive;
    color: blue;
    
}
.display-4
{
    font-family: 'Delicious Handrawn', cursive;
    color: darksalmon;
}
.col h2{
    font-family: 'Delicious Handrawn', cursive;
    color: darksalmon;
    font-size: 35px;   
}
.font-bold{
    font-size: 25px;
    font-family: 'Delicious Handrawn', cursive;
    color: darksalmon;

}
.col-4{
    font-size: 20px;
    color:blue;
}

/* awal image gallery */
.container-image-gallery{
    max-width: 95vw;
    width: calc(100% - 0rem);
    margin: 0px auto;
    background-image: url(pattern.png);
    background-size: cover;
    padding: 20px;
}

.container-image-gallery .about p{
    text-align: center;
    color: navy;
    font-size: 1.3rem;
    margin: 10px;
}
.parent-img-gallery {
    max-width: 800px;
    width: calc(100% - 1rem);
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    opacity: 1;
    transition: all 500ms ease 0s;
}
.parent-img-gallery:hover{
    opacity: 0.9;
}
.img-gallery{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}
.img-gallery img{
    margin: 2px;
    border-radius: 0px 35px 0px 35px;
    border-top: 3px solid orange;
    border-left: 3px solid orange;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transition: all 1s ease-out 0s;
}
.img-gallery img:hover{
    transform: scale(1.2) translateY(-3px);
    border-radius: 35px 0px 35px 0px;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid orange;
    border-bottom: 4px solid orange;
}
/* tutup image gallery */

#project {
    background-color: #A2D9FF;
}

.footer{
    font-size: 18px;
    color: azure;
    background: linear-gradient(red,blue);
    text-align: center;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover
{
  color: aquamarine;
}
